/app
/bootstrap
/config
/database
/node_modules
/public
/routes
/storage
/tests
/vendor
.phpunit.result.cache
coverage
compose.yaml
composer.json
package-lock.json
package.json
vite.config.js
.env
.gitignore