@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import url('https://fonts.bunny.net/css?family=inter:300,400,500,600,700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-carlito: 'Carlito', sans-serif;
    --font-century: 'Century Gothic', sans-serif;
    --font-kosugi: 'Kosugi', sans-serif;

    --color-primary: #2f4a5f;
    --color-primary-dark: #2f4a5f;
    --color-primary-700: #4b5764;
    --color-accent: #5b8eae;
    --color-accent-dark: #5b8eae;
    --color-accent-add: #60c0c3;
    --color-accent-add-dark: #60c0c3;
    --color-text: #323232;
    --color-text-dark: #ffffff;
    --color-white-dark: #e4e4e4;
    --color-border: #5b8eae;
    --color-border-dark: #5b8eae;
    --color-background-dark: #2e3546;
    --color-background-dark-add: #4a5058;
    --color-background-light: #f8f7f7;

    --container-1600: 1600px;
    --container-1290: 1290px;
    --container-1242: 1242px;

    --spacing-inner-section-y: 56px;
    --spacing-inner-section-x: 32px; /* desktop */
    --spacing-after-title: 24px;
}

@media (max-width: 768px) {
    :root {
        --spacing-inner-section-x: 24px; /* mobile */
    }
}

[x-cloak] {
    display: none !important;
}

@font-face {
    font-family: 'Carlito';
    src: url('/public/fonts/Carlito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Carlito';
    src: url('/public/fonts/Carlito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/public/fonts/centurygothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/public/fonts/centurygothic_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Kosugi';
    src: url('/public/fonts/Kosugi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer base {
    html {
        @apply leading-none;
    }

    body {
        @apply bg-[#2c2c2c];
    }

    h1 {
        @apply font-century text-2xl font-bold whitespace-pre-line uppercase md:text-4xl md:leading-[50.4px];
    }

    h2 {
        @apply font-century text-[22px] leading-[37.8px] font-bold whitespace-pre-line uppercase md:text-[27px];
    }

    h3 {
        @apply font-century text-[18px] leading-[29.4px] font-bold whitespace-pre-line uppercase md:text-[21px];
    }

    blockquote {
        @apply border-accent bg-background-light relative border-l-3 pl-7 text-justify;
    }

    blockquote span {
        @apply relative;
    }

    blockquote span::before {
        content: '“';
        @apply text-accent absolute -top-1.25 -left-4.5 text-4xl leading-none;
    }

    blockquote span::after {
        content: '”';
        @apply text-accent absolute -right-5 -bottom-3.5 text-4xl leading-none;
    }
}

@layer components {
    .menu-link {
        @apply font-century text-text dark:text-text-dark hover:text-accent-add relative flex cursor-pointer flex-row items-center tracking-[2px] uppercase transition-colors duration-250 hover:[text-shadow:0.02em_0_currentColor,-0.02em_0_currentColor];
    }

    .menu-link-btn {
        @apply flex flex-row;
    }

    .menu-link-active {
        @apply text-accent transition-colors duration-250 [text-shadow:0.02em_0_currentColor,-0.02em_0_currentColor];
    }

    .menu-link-mobile {
        @apply text-text relative z-20 block h-full w-full cursor-pointer py-6 text-center uppercase transition-colors;
    }

    .card-wrapper {
        @apply border-primary dark:border-accent-dark relative h-full w-full max-w-full border p-8 pb-13 [box-shadow:inset_0_0_0_0.02em_var(--color-primary)] md:max-w-92;

        clip-path: polygon(
            6px 0,
            100% 0,
            100% 100%,
            100% calc(100% - 30px),
            calc(100% - 111px) calc(100% - 30px),
            calc(100% - 141px) 100%,
            0 100%,
            0 6px
        );
    }

    .card-wrapper-shadow {
        @apply [box-shadow:0_0_0_0.02em_var(--color-primary)] dark:[box-shadow:0_0_0_0.02em_var(--color-accent-dark)];
    }

    /* START BTN colors */
    .btn {
        @apply relative inline-flex h-12.25 min-h-12.25 w-50.25 min-w-50.25 items-center justify-center border transition-all duration-300;

        clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);
    }

    .btn-corner {
        @apply absolute right-0 bottom-0 z-10 flex h-6.5 w-34 items-center justify-center overflow-hidden border transition-all duration-300;

        clip-path: polygon(26px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 100%);
    }

    .btn-corner-color {
        @apply bg-primary border-primary hover:border-accent hover:bg-accent group-hover:border-accent group-hover:bg-accent;
    }

    .btn-div {
        @apply absolute inset-0 h-full w-full transition-all duration-300;
    }

    .btn-text {
        @apply text-btn-main relative z-10 text-center transition-all duration-300;
    }

    .btn-primary-text {
        @apply text-white;
    }

    .btn-primary-bg {
        @apply border-primary bg-primary dark:border-accent dark:bg-accent hover:border-accent hover:bg-accent group-hover:border-accent group-hover:bg-accent dark:hover:border-accent dark:group-hover:border-accent dark:group-hover:bg-[#7BA2BA] dark:hover:bg-[#7BA2BA];
    }

    .btn-secondary-text {
        @apply text-white;
    }

    .btn-secondary-bg {
        @apply border-accent bg-accent hover:border-accent group-hover:border-accent group-hover:bg-[#7BA2BA] hover:bg-[#7BA2BA];
    }

    .btn-accent-text {
        @apply text-primary;
    }

    .btn-accent-bg {
        @apply border-accent-add bg-accent-add group-hover:border-[#9DDEE0] group-hover:bg-[#9DDEE0] hover:border-[#9DDEE0] hover:bg-[#9DDEE0];
    }

    .btn-transparent-text {
        @apply text-primary dark:text-text-dark;
    }

    .btn-transparent-bg {
        @apply border-primary hover:border-primary group-hover:border-b-primary bg-white group-hover:bg-[#CBDEEA] hover:bg-[#CBDEEA] dark:bg-[#5B8EAE] group-hover:dark:bg-[#4a7591] hover:dark:bg-[#4a7591];
    }

    /* END BTN colors */
    .icon-question {
        @apply bg-[url('/resources/images/icon/icon-question.svg')];
    }

    .icon-plus {
        @apply bg-[url('/resources/images/icon/icon-plus.svg')];
    }

    .icon-info {
        @apply bg-[url('/resources/images/icon/icon-info.svg')];
    }

    .icon-dots-white {
        @apply bg-[url('/resources/images/icon/icon-dots-white.svg')];
    }

    .icon-dots-dark {
        @apply bg-[url('/resources/images/icon/icon-dots-dark.svg')];
    }

    .acc-item-bg-question {
        @apply dark:border-accent/50 border-b border-[#DEDEDE] bg-[#FAFDFF] dark:bg-[#6A7687];
    }

    .acc-item-bg-plus {
        @apply dark:border-accent/50 border-b border-[#DEDEDE] bg-[#F5F7FD] dark:bg-[#647183];
    }

    .acc-item-bg-info {
        @apply bg-background-light dark:border-accent/50 border-b border-[#DEDEDE] dark:bg-[#596679];
    }

    .acc-dots-white {
        @apply bg-[url('/resources/images/layout/acc-dots-white.svg')];
    }

    .acc-dots-dark {
        @apply bg-[url('/resources/images/layout/acc-dots-dark.svg')];
    }

    .acc-dark {
        @apply dark:bg-background-dark dark:text-text-dark bg-[#FAFDFF];
    }

    .acc-white {
        @apply bg-primary;
    }

    .acc-title-white {
        @apply text-white;
    }

    .acc-title-dark {
        @apply text-text;
    }

    .swiper-wrapper {
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1) !important;
    }

    .swiper-pagination-bullet {
        @apply bg-accent! hover:bg-accent-add! h-3! w-3! opacity-100!;
        -webkit-mask: url('/resources/images/layout/slider-bullet-empty.svg') center/contain no-repeat;
        mask: url('/resources/images/layout/slider-bullet-empty.svg') center/contain no-repeat;
    }

    .swiper-pagination-bullet-active {
        @apply bg-accent-add!;
        -webkit-mask: url('/resources/images/layout/slider-bullet.svg') center/contain no-repeat;
        mask: url('/resources/images/layout/slider-bullet.svg') center/contain no-repeat;
    }

    .js-slider-prev {
        @apply bg-accent! hover:bg-accent-add!;
        -webkit-mask: url('/resources/images/layout/slider-left-arrow.svg') center/contain no-repeat;
        mask: url('/resources/images/layout/slider-left-arrow.svg') center/contain no-repeat;
    }

    .js-slider-next {
        @apply bg-accent! hover:bg-accent-add!;
        -webkit-mask: url('/resources/images/layout/slider-right-arrow.svg') center/contain no-repeat;
        mask: url('/resources/images/layout/slider-right-arrow.svg') center/contain no-repeat;
    }

    .js-gallery-slider-thumbs .swiper-slide-thumb-active {
        @apply opacity-100!;
    }

    .js-gallery-slider-thumbs .swiper-slide-thumb-active {
        @apply border-accent border opacity-100;
    }

    .rich-editor h2 {
        @apply text-primary dark:text-accent-add-dark;
    }

    .rich-editor ul {
        @apply list-disc pl-3.5;
    }

    .rich-editor a {
        @apply underline;
    }

    .rich-editor p {
        @apply mb-4;
    }

    .rich-editor :where(p:empty)::before {
        content: '\00a0';
    }

    .rich-editor ol {
        @apply list-decimal pl-6;
    }

    .rich-editor ol p {
        @apply mb-0;
    }

    .rich-editor table {
        @apply mt-4 mb-4 w-full border-collapse;
    }

    .rich-editor th,
    .rich-editor td {
        @apply border border-gray-200 p-3 align-top;
    }

    .rich-editor th {
        @apply bg-gray-300 text-left font-bold;
    }

    .rich-editor tbody tr:nth-child(even) td {
        @apply bg-gray-50;
    }

    .rich-editor td p,
    .rich-editor th p {
        @apply mb-0;
    }

    .rich-editor .lead {
        @apply indent-6;
    }

    .rich-editor .grid-layout {
        @apply flex! flex-row flex-wrap justify-center justify-items-center lg:grid!;
    }

    .rich-editor {
        --table-border: oklch(0.4 0 0);
        --table-head-bg: oklch(0.25 0 0);
        --table-row-alt: oklch(0.22 0 0);
    }

    .placeholder {
        @apply placeholder:text-[#7E7E7E] dark:placeholder:text-[#E0E0E0]/50;
    }
}

@utility px-inner-section-x {
    padding-left: var(--spacing-inner-section-x);
    padding-right: var(--spacing-inner-section-x);
}

@utility text-big {
    @apply font-carlito text-[18px] leading-[25.2px] tracking-[0.2px];
}

@utility text-normal {
    @apply font-carlito text-[16px] leading-[22.4px] tracking-[0.2px];
}

@utility text-medium {
    @apply font-carlito text-[14px] leading-[20.4px] tracking-[0.2px];
}

@utility text-small {
    @apply font-carlito text-[12px] leading-[16.8px] tracking-[0.2px];
}

@utility text-menu {
    @apply font-kosugi text-[16px] leading-[22.4px] uppercase;
}

@utility text-label {
    @apply font-century text-[14px] leading-[19.2px];
}

@utility text-achievements {
    @apply font-century text-[47px] leading-[65.8px] font-bold uppercase;
}

@utility text-achievements-sec {
    @apply font-century text-[21px] leading-[29.4px] font-bold uppercase;
}

@utility text-btn-corner {
    @apply font-carlito text-[16px] leading-[18px];
}

@utility text-btn-main {
    @apply font-carlito text-[16px] leading-[18px] uppercase;
}

@utility text-accordion-title {
    @apply font-carlito text-[16px] leading-[22.4px] font-bold tracking-[0.04em] uppercase;
}

@utility text-footer-title {
    @apply font-century text-[14px] leading-[16.8px] font-bold;
}

@utility text-footer-main {
    @apply font-century text-[12px] leading-[16.8px];
}

@utility acc-arrow-dark {
    background-image: url('/resources/images/layout/acc-arrow-dark.svg');
}

@utility acc-arrow-white {
    background-image: url('/resources/images/layout/acc-arrow-white.svg');
}

/*start for rich editor*/
@utility color {
    &[data-color] {
        color: var(--color);
    }
}

@utility dark-color {
    .dark &[data-color] {
        color: var(--dark-color);
    }
}

@utility grid-layout {
    display: grid;
    grid-template-columns: var(--cols, repeat(1, minmax(0, 1fr)));
    gap: 1.5rem;
}

@utility grid-layout-col {
    grid-column: var(--col-span, span 1 / span 1);
    min-width: 0;
}
/*end rich editor*/
